<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container-fluid">
    <!-- Текст за грешка 404 - Страница не е намерена -->
    <h3 class="text-danger mt-5">Oops! We can't find the page you're looking for.</h3>
    <p class="text-muted">It seems that the page has either been moved or no longer exists.</p>
    <p>Don't worry, you can always return to the <a href="/" th:href="@{/}">home page</a> or explore other sections of our website.</p>
    <img th:src="@{/images/HachiError.JPEG}" alt="Hachi Error Image" class="img-fluid mt-4">
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>